@inherits LayoutComponentBase

<NavMenu />

<div class="page">

	<div class="main">

		<article class="content px-4">
			@Body
		</article>
	</div>

</div>

<footer class="footer">
	<p>
		Contact: <a href="mailto:ckp@kragh.dev">ckp@kragh.dev</a>
	</p>
</footer>
