@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

	<div class="main">

		<div class="content px-4">
			@Body
		</div>
	</div>
	
	<footer class="footer">
		<p>
			Contact: <a href="mailto:ckp@kragh.dev">ckp@kragh.dev</a>
		</p>
	</footer>
</div>
